<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>My favorite restaurant</title>
  </head>
  <body>
    <h1></h1>

    <form action="/restaurants" method="post">
      <label for="name">Add its name:</label>
      <input id="name" name="name" type="text">
      <label for="address">Add its address:</label>
      <input id="address" name="address" type="text">
      <label for="phoneNumber">Add its phoneNumber:</label>
      <input id="phoneNumber" name="phoneNumber" type="text">
      <button type="submit">Add this awesome restaurant</button>
    </form>

  </body>
</html>
