@using BestRestaurant.Models;

<h1>Restaurant Details</h1>

@Model.Name
@Model.Address
@Model.PhoneNumber

<form action="/restaurant/:@Model.Id" method="post">
  <button type="submit" name="button">Delete</button>
</form>
